.home:before
  content '\f015'
  font-family FontAwesome
  display inline-block
  margin-left 1.5rem
  width 2rem

.mobile:before
  content '\f10b'
  font-family FontAwesome
  display inline-block
  margin-left 1.5rem
  width 2rem

 .envelope:before
  content '\f003'
  font-family FontAwesome
  display inline-block
  margin-left 1.5rem
  width 2rem

