.contacts
  box-sizing unset !important
  margin-bottom 10rem

.button_send
  margin-left 1rem

.contactInfo__item
  display block

.contactInfo__item_adress,
.contactInfo__item_phone,
.contactInfo__item_email
  position relative
  padding 0 0 2rem 3rem

.contactInfo__item_adress:before,
.contactInfo__item_phone:before,
.contactInfo__item_email:before
  position absolute
  font-family FontAwesome
  display inline-block
  left -.1rem

.contactInfo__item_adress:before
  content '\f015'

.contactInfo__item_phone:before
  content '\f10b'

 .contactInfo__item_email:before
  content '\f003'

