.mainFooter
  background url("images/overlay.png"), url("images/bg.jpg") no-repeat center / cover
  width 100%
  padding: 4rem 4rem 6rem 4rem;
  position: relative;
  text-align: center;
  width: 100%;
  &__list
    display block
  &__link
    display inline-block
    padding-left 1rem
    &:hover,&:active,&:focus
      color #49bf9d
.copyrights
  display block
  font-size .8rem
  padding 0
  li
    display inline-block
    padding 0 0.75rem
    line-height 1rem
    &:not(:last-child)
      border-right 1px solid rgba(white, 0.4)
@media (min-width 992px) 
  .mainFooter
    background transparent
    position fixed
    width 30%
    text-align right
    bottom 0
    left 0
    padding: 4rem 0 6rem 4rem;