.avatar img
  margin-top 6rem
  border-radius 100%

.header__text
  padding-top 3rem

@media screen and (max-width 980px)
  .sidebar
    padding 0
    position relative
    height 40%


@media screen and (max-width 768px)
  .main
    padding 0 !important
    margin 0 !important
  .row
    margin 0
