footer.mainFooter
  .links
    ul.mainFooter__list
      limainFooterr__link
        a(href="#").sidebar__link
         i.fa.fa-twitter.fa-2x
      li.mainFooter__link
        a(href="#").sidebar__link
         i.fa.fa-github.fa-2x
      li.mainFooter__link
        a(href="#").sidebar__link
         i.fa.fa-dribbble.fa-2x
      li.mainFooter__link
        a(href="#").sidebar__link
         i.fa.fa-envelope-o.fa-2x
  © Untitled | Design: 
  a(href="#").sidebar__link HTML5 UP
  |  | Demo Images: 
  a(href="#").sidebar__link Unsplash
