header.mainHeader
  .avatar
    a(href="#")
      img(src="images/avatar.jpg")
  h1.mainHeader__info
    strong I am  Strata
    |, a super simple
    br
    | responsive site template freebie 
    br
    | crafted by 
    a(href='#').sidebar__link HTML5 UP.