doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='./style.css')
    title Strata
  body
    .container-fluid
      .row
        .col-md-5
          include _sidebar.jade
        .col-md-7.main
          include _info.jade
          include _portfolio.jade
          include _contacts.jade