.button
  transition 0.2s ease-in-out
  border solid 3px #efefef
  border-radius 5px
  color #787878
  background-color #fff
  cursor pointer
  display inline-block
  text-align center
  text-decoration none
  padding .8rem 3rem
  &:hover
    border-color #49bf9d
    color #49bf9d
    text-decoration none