.images
  display block
  height 100%
  width 100%
  border-radius 5px
  border 0
  position relative
  &:hover:after
      opacity 1
    &:after
      content 'View'
      font-size .7rem
      text-align center
      border: solid 3px rgba(255, 255, 255, .5);
      border-radius 6px
      opacity 0
      padding 0 1rem
      line-height 1.5rem
      color #fff
      position absolute
      left 50%
      top 50%
      margin -.7rem -2rem
      display inline-block
      box-sizing border-box
      transition .5s
  &:hover:before
      opacity 1
    &:before
      content ''
      background url("images/overlay.png")
      position absolute
      opacity 0
      border-radius 6px
      top 0
      left 0
      padding .3rem
      display block
      height 100%
      width 100%
      box-sizing border-box
      transition .5s
  & img
    display block
    width 100%