.input:focus,
.textarea:focus
  border solid 3px #49bf9d
  outline none

.input, .textarea
  width 45%
  border solid 3px #efefef
  border-radius 5px
  padding 1rem
  margin 1rem 1rem 0 0
  background-color #F7F7F7
  @media screen and (max-width 768px)
    width 100% !important

.textarea
  width 94%
  height 200px
  resize none