*
  box-sizing border-box
  color #a2a2a2

html
  font 16px 'Tahoma' sans-serif

h2, h3
  color #787878

h2
  font-size 2rem

h3
  font-size 1rem

p
  color #a2a2a2

img
  border-radius 6px
  max-width 100%

ul, li
  list-style-type none
  padding .6rem 0

a
  text-decoration none
  &:hover
    color #49bf9d

.main
  padding 6rem 12rem

.row
  padding 1rem 0